/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montenegrin+Gothic+One&display=swap');

/* css variables */
:root {
   --primary-font: "Montenegrin Gothic One", sans-serif;
   --secondary-font: "Merriweather", serif;
   --primary-color: #ffd700;
   --secondary-color: #ffffff;
   --tertiary-color: #50C878;

}

/* global styles */

#custom {
    font-family: "Montenegrin Gothic One", sans-serif;
    color: var(--secondary-color);
}
h1 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

/* hero section */
#hero {
    background-image: url("../images/radiance-hero-image.webp");
    background-size: cover;
    background-position: center;
    height: 500px;
}

/* navigation */
nav#nav {
    background-color: var(--tertiary-color) !important;
}

p {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    font-size: 1.2rem;
}

/* button */
#button {
    background-color: var(--primary-color) !important;
    border: none;

}

